numpy
scipy
scikit-learn
matplotlib
pandas
pillow
tqdm
pyyaml
argparse
configargparse
loguru
networkx
ogb
wandb
torch
torchvision
torchaudio
torch-geometric
ase
h5py
jinja2
joblib
numba
requests
rdflib
ipykernel
pynvim